<h1>
Products
{{pagingInfo.textFirst }}
{{pagingInfo.total}}


</h1>
<div grid-data grid-options="gridOptions" grid-actions="gridActions">
    <!-- sample table layout goes below, but remember that you can you any mark-up here. -->
    <table class="table">
     <thead>
     <tr>
        <th  class="sortable">
            Faces
        </th>
        <th ng-click = "gridActions.getSortProducts(pagingInfo.page, 'size')" class="sortable">
            Size <span ng-if="pagingInfo.sortBy == 'size'">sorted</span>
        </th>
        <th ng-click = "gridActions.getSortProducts(pagingInfo.page, 'price')" class="sortable">
            Price <span ng-if="pagingInfo.sortBy == 'price'">sorted</span>
        </th>
        <th >
            Date
        </th>
     </tr>
     </thead>
     <tbody>
     <tr grid-item>
        <td ng-style={"font-size":item.size} ng-bind="item.face"></td>
        <td ng-bind="item.size"></td>
        <td ng-bind="item.price | customCurrency:'$':true"></td>
        <td ng-bind="item.date | relativeTime"></td>
     </tr>
     </tbody>
    </table>
</div>
<paging
  page=pagingInfo.page
  page-size=pagingInfo.pageSize 
  total=pagingInfo.total
  text-first={{pagingInfo.textFirst}} 
  text-last={{pagingInfo.textLast}} 
  text-next={{pagingInfo.textNext}} 
  text-prev={{pagingInfo.textPrev}}
  show-prev-next={{pagingInfo.showprevNext}} 
  show-first-last={{pagingInfo.showFirstLast}} 
  paging-action = gridActions.getSortProducts(page)
  >
</paging>
